:root{
    --title-color : #D04F4F;
    --bg-color-light : #E7E7E7;
    --bg-color-dark: #C7BEBE ;
    --bg-color-ingredient: #3282F7 ;
    --bg-color-appareil: #68D9A4 ;
    --bg-color-ustenciles: #ED6454 ;
}

body {
    text-align: center; 
}

fieldset {
    width: 90%;
    text-align: left;
    margin: auto;
    border: none;
    padding: 0;
}
fieldset input {
    border: none;
    background-color: transparent;
    width: 90%;
}
fieldset input:focus-visible {
	outline: none;
}

.desc-recip {
	order: 4;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 74%;
	word-wrap: break-word;
}
.desc-recip, #recipes-found a ul {
	width: 46%;
    padding: 0
}

header {
    color: var(--title-color);
}

.hide { display: none; }

.opened label {
	transform: translateY(-50px);
	height: 0;
    opacity: 0;
	margin-bottom: -40px;
	transition: all 250ms;
}

#recipes-found {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
#recipes-found a {
	margin: 1% 0;
	width: 30%;
	text-decoration: none;
	color: inherit;
	overflow: hidden;
	padding-top: 200px;
	background-color: var(--bg-color-dark);
	display: none;
}
#recipes-found a.active {
	display: block;
}
#recipes-found a h1 {
	width: 65%;
    order: 1;
}
#recipes-found article {
	display: flex;
	flex-wrap: wrap;
	height: 200px;
	overflow: hidden;
	padding: 25px;
	background-color: var(--bg-color-light);
	justify-content: space-between;
}
#recipes-found a h1, #recipes-found a p {
	margin: 1%;
	text-align: left;
}
#recipes-found article ul {
	order: 3;
}

#recipes-search {
    padding: 2%;
}
#recipes-search-container {
    background-color: var(--bg-color-light);
    position: relative;
}
#recipes-search-container::after {
	content: url("img/search.png");
	position: absolute;
	right: 1%;
	top: 17px;
}

.search-mode .close-search-mode::after {
	content: "x";
	padding: 0px 6px 2px;
	position: absolute;
	right: 25%;
	border: 2px solid;
	border-radius: 17px;
	top: 16px;
	font-size: small;
	opacity: 0.5;
}
.search-mode ul li { display: none; }
.search-mode ul li.found { display: block; }

.tags-search {
    display: flex;
    width: 50%;
    overflow: hidden;
    border-radius: 5px;
    flex-direction: column;
    position: relative;
	transition: all 250ms ease-in-out;
}
.tags-search.closed::after {
	content: url("img/dropdown-close.png");
}
.tags-search.closed::after, .tags-search.opened::after {
	width: 16px;
	height: 11px;
	position: absolute;
	right: 7%;
	top: 16px;
}
.tags-search.opened::after {
	content: url("img/dropdown-open.png");
}
.tags-search.closed {
    max-width: 170px;
    max-height: 50px;
}
.tags-search:first-of-type {
    background-color: var(--bg-color-ingredient);
}
#tag-search-container {
    display: flex;
    flex-wrap: wrap;
}
#tag-search-container p {
    width: 100%;
}
.tags-search:last-of-type {
    background-color: var(--bg-color-ustenciles);
}
.tags-search:nth-of-type(2) {
    background-color: var(--bg-color-appareil);
    margin-left: 2%;
    margin-right: 2%;
}
.tags-search, .tags-search label, .tags-search input, .tags-search li {
    cursor: pointer;
    color: white;
}
.tags-search label, .tags-search input {
    padding: 20px;
}
.tags-search ul {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 20px;
}
.tags-search ul li {
	width: 30%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0% 0 3%;
}

#tags-selected {
	width: 100%;
	padding: 5px 0;
}
#tags-selected .appliance {
	background-color: var(--bg-color-appareil);
}
#tags-selected .ingredients {
	background-color: var(--bg-color-ingredient);
}
#tags-selected .ustencils {
	background-color: var(--bg-color-ustenciles);
}
#tags-selected li {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	color: white;
	font-size: small;
	line-height: 20px;
	margin-right: 10px;
	cursor: pointer;
}
#tags-selected li::after {
	content: "x";
	float: right;
	border-radius: 100%;
	margin-left: 10px;
	padding: 0px 8px 2px;
	border: 2px solid;
	margin-top: -2px;
}

.time-recip {
	order: 2;
}

ul {
	text-align: left;
	list-style: none;
}